body {
    font-size: 80%;
    font-family: "Verdana", Courier, monospace;
    letter-spacing: 0.15em;
    /* background-color: #efefef;} */
    background-color: #ffffff;}
    #page {
    max-width: 1040px;
    min-width: 720px;
    min-height: 1000px;
    margin: 10px auto 10px auto;
    padding: 20px;
    /* border: 4px double #000; */
    background-color: #efefef;}
    .column1 {
   float: left;
   width: 60%;
   padding: 10px;
   /* border: 1px solid #000; */
   background-color: #ffffff;
   box-shadow: 5px 5px 5px #777777;
   margin: 10px;}
   .column2 {
   float: left;
   width: 25%;
   padding:10px;
   background-color: #ffffff; 
   margin: 10px;
   box-shadow: 5px 5px 5px #777777;}
   .clear {
       clear: left;
   }
   
    h1 {
    text-align: left;
    margin:10px;
    }
    ul {
    width: 95%;
    padding: 15px;
    align-self: center;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: left;}
    li {
    display: inline;
    margin: 0px 3px;
    text-align: center;}
    p {
    font-weight: normal;}
    a {
    color: #000000;
    /* text-transform: uppercase; */
    text-decoration: none;
    padding: 6px 18px 5px 18px;}
    a:hover, a.on {
    color: #cc3333;
    /* background-color: #efefef; */
    }